@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: dark;
}

@font-face {
	font-family: "Lomo Web Pixel";
	src:
		local("Lomo Web Pixel Pixel 5"),
		local("Lomo-Web-Pixel-Pixel-5"),
		url("/fonts/LomoWebPixelLTStd-5.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
